<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8 my-2">
      <small><sup>*</sup>必填欄位</small>
      <h4 class="d-flex justify-content-center">請輸入你的支出</h4>

      <form action="/record/new" method="POST">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">名稱: <sup>*</sup></label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="name" required="required">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">日期</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" name="date" aria-label="Date" aria-describedby="basic-addon2"
              required="required">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">類別</label>
          <div class="col-sm-8">
            <select class="form-control" name="category">
              <option>Select..</option>
              <option>餐飲食品</option>
              <option>交通出行</option>
              <option>休閒娛樂</option>
              <option>家居物業</option>
              <option>其他</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">金額</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="輸入金額" name="amount" required="required">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">建立</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>